@media only screen and (min-width: 415px) {
  .about-section {
    height: 100%;
  }
  .mob_circle_div_wrapper {
    display: none;
  }
  .skills__profile {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .profileimg {
    width: 250px;
    height: 250px;
    border-right: 3px solid rgb(50, 62, 71);
    border-left: 3px solid rgb(50, 62, 71);
    border-top: 3px solid #e72e47;
    border-bottom: 3px solid #e72e47;
    box-shadow: 0px 10px 30px rgb(50, 62, 71);
    object-fit: cover;
    position: absolute;
    margin-top: 130px;
  }

  .layer {
    background-color: rgb(142, 142, 143);
    opacity: 0.7;
    width: 250px;
    height: 250px;
    margin-left: 60px;
    margin-top: 180px;
    border-right: 3px solid #e72e47;
    border-left: 3px solid #e72e47;
    border-top: 3px solid rgb(50, 62, 71);
    border-bottom: 3px solid rgb(50, 62, 71);
    box-shadow: 0px 10px 30px rgb(50, 62, 71);
    position: absolute;
  }

  .creative {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 30px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }

  .dynamic {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 10px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }

  .adaptive {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 10px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }
  .time {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 10px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }

  .circlediv {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding-top: 100px;
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headings {
    font-family: "Share Tech Mono", monospace;
    color: #e72e47;
    font-size: 25px;
    /* text-shadow: 0px 0px 30px #e72e47; */
  }

  .subheadings {
    font-family: "Share Tech Mono", monospace;
    color: #636768;
    font-weight: 600;
    width: 200px;
    margin-top: -10px;
  }

  .skills {
    font-family: "Share Tech Mono", monospace;
    width: 500px;
    list-style: none;
    padding: 0;
    color: #e72e47;
  }

  /* .skills li {
  margin: 20px auto;
} */

  .bar {
    background: #7c7e7e;
    display: block;
    height: 6px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgb(50, 62, 71);
  }

  .bar span {
    height: 10px;
    float: left;
    background: #353b48;
    box-shadow: 50px 0px 50px #e72e47;
  }

  .html {
    width: 95%;
    animation: html 3s;
  }

  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }

  .css {
    width: 80%;
    animation: css 3s;
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }

  .javascript {
    width: 85%;
    animation: javascript 3s;
  }
  @keyframes javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  .react {
    width: 80%;
    animation: react 3s;
  }
  @keyframes react {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  .jquery {
    width: 60%;
    animation: jquery 3s;
  }
  @keyframes jquery {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  .node {
    width: 65%;
    animation: node 3s;
  }

  @keyframes node {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }

  .profile__info {
    box-shadow: 0px 10px 30px rgb(50, 62, 71);
    width: 500px;
    background: #353b48;
    font-family: "Share Tech Mono", monospace;
    opacity: 0.8;
    padding: 7px;
    border: 3px solid #7c7e7e;
  }

  .profile__main {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 414px) {
  .circlediv {
    display: none;
  }
  .profileimg {
    width: 220px;
    height: 220px;
    border-right: 3px solid rgb(50, 62, 71);
    border-left: 3px solid rgb(50, 62, 71);
    border-top: 3px solid #e72e47;
    border-bottom: 3px solid #e72e47;
    box-shadow: 0px 10px 30px rgb(50, 62, 71);
    object-fit: cover;
    margin-top: 50px;
  }
  .mob_circle_div_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .mob_circlediv1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
  }

  .mob_circlediv2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }

  .creative {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 30px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }

  .dynamic {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 10px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }

  .adaptive {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 10px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }
  .time {
    border: 1px solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 2px solid #e72e47;
    box-shadow: 0px 10px 10px rgb(50, 62, 71);
    background-color: rgb(50, 62, 71);
    color: #e72e47;
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headings {
    font-family: "Share Tech Mono", monospace;
    color: #e72e47;
    font-size: 17px;
    /* text-shadow: 0px 0px 30px #e72e47; */
  }

  .subheadings {
    font-family: "Share Tech Mono", monospace;
    color: #636768;
    font-size: 11px;
    width: 100px;
    margin-top: -4px;
  }

  .profile__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    width: 100%;
    background: #353b48;
    font-family: "Share Tech Mono", monospace;
    opacity: 0.8;
    border-top: 3px solid #7d9494;
    border-bottom: 3px solid #7d9494;
    box-shadow: rgb(56, 56, 56) 0px 0px 10px;
    text-align: center;
    margin-top: 60px;
    font-size: 13px;
  }

  .skills_wrapper {
    display: flex;
    justify-content: center;
  }

  .skills {
    font-family: "Share Tech Mono", monospace;
    width: 300px;
    list-style: none;
    padding: 0;
    color: #e72e47;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  /* .skills li {
  margin: 20px auto;
} */

  .bar {
    background: #7c7e7e;
    display: block;
    height: 6px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgb(50, 62, 71);
  }

  .bar span {
    height: 10px;
    float: left;
    background: #353b48;
    box-shadow: 50px 0px 50px #e72e47;
  }

  .html {
    width: 95%;
    animation: html 3s;
  }

  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }

  .css {
    width: 80%;
    animation: css 3s;
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }

  .javascript {
    width: 85%;
    animation: javascript 3s;
  }
  @keyframes javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  .react {
    width: 80%;
    animation: react 3s;
  }
  @keyframes react {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  .jquery {
    width: 60%;
    animation: jquery 3s;
  }
  @keyframes jquery {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
  .node {
    width: 65%;
    animation: node 3s;
  }

  @keyframes node {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
}
