@media only screen and (min-width: 415px) {
  .contact-section {
    /* height: 70vh; */
    background-image: url(../images/keyboard.jpeg);
    border-top: 4px solid #e72e47;

    /* background-repeat: no-repeat; */
  }
  .contactwrapper {
    padding-left: 50px;
    padding-top: 10px;
    background-color: rgba(82, 85, 88, 0.7);
  }
  .contact {
    font-family: "Share Tech Mono", monospace;
    color: #e72e47;
    /* background-color: rgba(82, 85, 88, 0.7); */
    font-size: 15px;
    width: 100%;
    height: 100%;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  .smallInput {
    font-family: "Share Tech Mono", monospace;
    background: none;
    outline: none;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    padding: 5px;
    width: 500px;
    caret-color: white;
    color: white;
    /* box-shadow: 0px 3px 40px rgb(255, 0, 0); */
  }

  .messageInput {
    font-family: "Share Tech Mono", monospace;
    background: none;
    outline: none;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    padding: 5px;
    width: 500px;
    caret-color: white;
    color: white;
  }

  .submitBtn {
    background-color: #e72e47;
    font-size: 20px;
    font-family: "Share Tech Mono", monospace;
    outline: none;
    border: 1px solid white;
    transition: 0.3s;
    margin: 5px;
  }

  .submitBtn:hover {
    color: white;
  }

  .bottombox {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(82, 85, 88, 0.7);
    padding-right: 30px;
  }

  .socialMediaIcons {
    font-size: 45px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
  }

  .socialMediaIcons:hover {
    color: #e72e47;
  }
}

@media only screen and (max-width: 414px) {
  .contact-section {
    /* height: 70vh; */
    background-image: url(../images/keyboard.jpeg);
    border-top: 4px solid #e72e47;
    width: 100%;
    /* background-repeat: no-repeat; */
  }
  .contactwrapper {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: rgba(82, 85, 88, 0.7);
  }
  .contact {
    font-family: "Share Tech Mono", monospace;
    color: #e72e47;
    /* background-color: rgba(82, 85, 88, 0.7); */
    font-size: 15px;
    width: 100%;
    height: 100%;
  }

  .contact {
    text-align: center;
  }
  .contact h2 {
    font-size: 25px;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* color: white; */
    opacity: 1;
    text-align: center;
  }

  .smallInput {
    font-family: "Share Tech Mono", monospace;
    background: none;
    outline: none;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    padding: 5px;
    width: 280px;
    caret-color: white;
    color: white;

    /* box-shadow: 0px 3px 40px rgb(255, 0, 0); */
  }

  .messageInput {
    font-family: "Share Tech Mono", monospace;
    background: none;
    outline: none;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    padding: 5px;
    width: 280px;
    caret-color: white;
    color: white;
  }

  .submitBtn {
    background-color: #e72e47;
    font-size: 20px;
    font-family: "Share Tech Mono", monospace;
    outline: none;
    border: 1px solid white;
    transition: 0.3s;
    margin: 5px;
    color: white;
  }

  .bottombox {
    display: flex;
    justify-content: center;
    background-color: rgba(82, 85, 88, 0.7);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .socialMediaIcons {
    font-size: 45px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
  }

  .socialMediaIcons:hover {
    color: #e72e47;
  }
}
