@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@media only screen and (min-width: 415px) {
  .home-section {
    width: 100%;
    height: 80vh;
    border-bottom: 4px solid #e72e47;
    /* background-image: url(../images/homeimg.jpg); */
    /* object-fit: cover;
  object-fit: center center; */
  }

  .home__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center center;
    /* opacity: 0.7;
  filter: alpha(opacity=50);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(80%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(70%); */
  }

  .header {
    font-size: 120px;
    color: #e72741;
    left: 2cm;
    position: absolute;
    top: 5cm;
    font-family: "Share Tech Mono", monospace;
    text-shadow: 2px 2px 4px red;
    animation: type 1s steps(11);
    overflow: hidden;
    white-space: nowrap;
  }

  @keyframes type {
    0% {
      width: 0ch;
    }
    100% {
      width: 11ch;
    }
  }

  @keyframes type2 {
    0% {
      width: 0ch;
    }

    100% {
      width: 12ch;
    }
  }
  .header2 {
    font-size: 120px;
    left: 6cm;
    top: 8cm;
    position: absolute;
    font-family: "Share Tech Mono", monospace;
    color: rgb(167, 164, 164);
    animation: type2 1s steps(11);
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 414px) {
  .home-section {
    width: 100%;
    height: 100vh;

    /* background-image: url(../images/homeimg.jpg); */
    /* object-fit: cover;
  object-fit: center center; */
  }

  /* .header,
  .header2 {
    display: none;
  } */

  .header {
    font-size: 40px;
    color: #e72741;
    width: 100%;
    position: absolute;
    top: 6.5cm;
    font-family: "Share Tech Mono", monospace;
    text-shadow: 2px 2px 4px red;
    animation: type 1s steps(11);
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }

  @keyframes type {
    0% {
      width: 0ch;
    }
    100% {
      width: 11ch;
    }
  }

  @keyframes type2 {
    0% {
      width: 0ch;
    }

    100% {
      width: 12ch;
    }
  }

  .header2 {
    font-size: 40px;
    top: 8cm;
    position: absolute;
    font-family: "Share Tech Mono", monospace;
    color: rgb(167, 164, 164);
    animation: type2 1s steps(11);
    overflow: hidden;
    white-space: nowrap;

    width: 100%;
    text-align: center;
  }

  .home__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center center;
  }
}
