::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(50, 62, 71);
}

::-webkit-scrollbar-thumb {
  background-color: #e72e47;
  border-bottom: 3px solid rgb(133, 133, 133);
}

::-webkit-scrollbar-thumb:hover {
  background-color: (84, 37, 226);
}
